<h1>글 수정하기</h1>
<%= form_for :content, url: content_path(@content), method: :patch do |f| %>
	<p>
	제목
	<%= f.text_field(:title, {:class => 'form-control'}) %>
	</p>
	
	<p>
	내용<br>
	</p>
  	<%= f.text_area(:body, {:class => 'form-control',:rows => 10}) %>
  <br><br>
  <p>
     <%= f.submit({:class => 'btn btn-primary'})%>
	</p>
<% end %>