<h2><%= @content.title %></h2><br><br>
<p><%= @content.body %></p><br><br><br><br><br><br>

<%= link_to "Edit", edit_content_path(@content), :class => 'btn btn-default' %>
<%= link_to "Delete", content_path(@content),
					method: :delete,
					data: {confirm: '정말 삭제하시겠습니까?'},
					:class => 'btn btn-danger' %>
<!--<a href="/">돌아가기</a>-->
